<header class="header <% if @type_don == true %>header--donation<% end %>">
    <div class="container header__container">
      <img class="header__logo" src="img/logo.png" alt="Logo Vaincre l'autisme">
      <nav>
        <ul class="menu">

          <li class="menu__item menu__item--border">
            <a href="http://vaincrelautisme.org/sites/default/files/bulletin%202017.pdf" target="_blank">
              <%= embedded_svg "icons/download.svg", class: "icon-download" %>
              <span>Formulaire papier</span>
            </a>
          </li>

          <li class="menu__item menu__item--border">
            <a href="http://vaincrelautisme.org/" target="_blank">
              <%= embedded_svg "icons/link.svg", class: "icon-link" %>
              <span>Site principal</span>
            </a>
          </li>

      <!--<li class="menu__item">
            <a href="#">
              <%= embedded_svg "icons/login.svg", class: "icon-login" %>
              <span>Se connecter</span>
            </a>
          </li> -->

          <li class="menu__item menu__item--highlighted">
            <a href="http://vaincrelautisme.org/donate" target="_blank">
              <%= embedded_svg "icons/donate.svg", class: "icon-donate" %>
              <span>Faire un don</span>
            </a>
          </li>

        </ul>
        <div class="header__burger">
          <div class="burger"></div>
        </div>
      </nav>
    </div>
</header>

<div class="sidebar <% if @type_don == true %>sidebar--donation<% end %>">
  <nav>
    <ul>
      <li class="sidebar__item js-scroll " data-section="#choice">1. Choix</li>
      <li class="sidebar__item js-scroll" data-section="#options">2. Options</li>
      <li class="sidebar__item js-scroll" data-section="#infos">3. Informations</li>
      <li class="sidebar__item js-scroll" data-section="#payment">4. Paiement</li>
      <li class="sidebar__item sidebar__item--current">5. Validation</li>
    </ul>
  </nav>
</div>

<main class="main__container <% if @type_don == true %>is-donation<% end %>">

  <div class="container">

    <section class="payment-validation small-section">

      <div class="form-block">
        <div class="form-block__top form-block__top--highpadding">Confirmation de paiement</div>
        <div class="form-block__bottom">
          <div class="form-block__container form-block__column">
            <% if @payment_option != nil && @payment_option == 'cheque' %>
              <div class="payment__cheque">
                <p class="content">Votre<% if @type_don == false %> adhésion <% else %> don <% end %>sera prise en compte dès réception de votre chèque et de votre récapitulatif à l'ordre de <span>VAINCRE L'AUTISME</span> et imprimé à l'adresse :</p>
                <p class="adress">
                  <span>Service adhésion - Vaincre l'autisme</span>
                  <span>51 rue Servan</span>
                  <span>75011 Paris</span>
                </p>
              </div>
            <% else %>
              <div class="payment-validation__content payment-validation__donation">Votre<% if @type_don == false %> adhésion <% else %> don <% end %>a bien été pris en compte <%= embedded_svg "icons/check.svg", class: "icon-check" %></div>
            <% end %>
            <p class="content">Pour toute question relative à votre<% if @type_don == false %> adhésion<% else %> don<% end %>, contactez notre service adhérent :</p>
            <div class="btn-container">
              <button class="btn btn__contact"><a href="mailto:donateurs@vaincrelautisme.org">Contacter le service</a></button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-block">
        <% unless @payment.class.to_s == "ChequePayment" %>
          <div class="form-block__top form-block__top--highpadding with-button">
            Récapitulatif
            <div class="btn btn__download">
              <a href="<%= asset_path(@payment.access_path) %>"><%= embedded_svg "icons/print.svg", class: "icon-print" %> Imprimer le reçu fiscal</a>
            </div>
          </div>
        <% end %>
        <div class="form-block__bottom price-table">
          <div class="row__content row__subscription">
            <% if @type_don == false %>
              <% if @user.monthly_payment == false %>
                <p class="content__listing">Votre adhésion</p>
                <% if @user.dons.count > 0 %>
                  <p class="content__amount"><%= @payment.amount.to_i - (@user.side_user_number.to_i * 12 + @user.dons.last.amount) %>€</p>
                <% else %>
                  <p class="content__amount"><%= @payment.amount.to_i - (@user.side_user_number.to_i * 12) %>€</p>
                <% end %>
              <% else %>
                <p class="content__listing">Votre adhésion </p>
                <% if @user.dons.count > 0 %>
                  <p class="content__amount"><%= @payment.amount / 12 - @user.side_user_number.to_i - (@user.dons.last.amount / 12 )%>€/mois</p>
                <% else %>
                  <p class="content__amount"><%= @payment.amount / 12 - @user.side_user_number.to_i %>€/mois</p>
                <% end %>
              <% end %>
            <% elsif @type_don == true %>
              <% if @don.recurring == false %>
                <p class="content__listing">Votre don</p>
                  <p class="content__amount"><%= @don.amount.to_i %>€</p>
              <% else %>
                <p class="content__listing">Votre don </p>
                  <p class="content__amount"><%= @don.amount.to_i %>€/mois</p>
              <% end %>
            <% end %>
          </div>
          <% if @type_don == false %>
            <% if @user.side_user_number > 0 %>
              <% if @user.monthly_payment == false %>
                <div class="row__content row__family">
                  <p class="content__listing">Vos proches (<%= @user.side_user_number %>)</p>
                  <p class="content__amount"><%= @user.side_user_number.to_i * 12 %>€</p>
                </div>
              <% else %>
                <div class="row__content row__family">
                  <p class="content__listing">Vos proches (<%= @user.side_user_number %>)</p>
                  <p class="content__amount"><%= @user.side_user_number.to_i %>€/mois</p>
                </div>
              <% end %>
            <% end %>
            <% if @user.dons.count > 0 %>
                <div class="row__content row__donation">
                  <p class="content__listing">Votre don</p>
                  <% if @user.monthly_payment == false %>
                    <p class="content__amount"><%= @user.dons.last.amount %>€</p>
                  <% else %>
                    <p class="content__amount"><%= @user.dons.last.amount / 12 %>€/mois</p>
                  <% end %>
                </div>
            <% end %>
          <% end %>
        </div>
        <div class="price-table--grey">
          <div class="row__content row__total">
            <p class="content__listing">Total à payer</p>
            <% if @type_don == false %>
              <% if @user.monthly_payment == false %>
                <p class="content__amount"><%= @payment.amount %>€</p>
              <% else %>
                <p class="content__amount"><%= @payment.amount.to_i / 12 %>€/mois</p>
              <% end %>
            <% elsif @type_don == true %>
              <% if @don.recurring == false %>
                <p class="content__amount"><%= @don.amount %>€</p>
              <% else %>
                <p class="content__amount"><%= @don.amount %>€/mois</p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="price-table--highlighted">
          <div class="row__content row__taxes">
            <p class="content__listing">Coût après réduction fiscale</p>
            <% if @type_don == false %>
              <% if @user.monthly_payment == false %>
                <p class="content__amount"><%= (@payment.amount.to_i * 0.34).round(2) %>€</p>
              <% else %>
                <p class="content__amount"><%= ((@payment.amount.to_i * 0.34) / 12).round(2) %>€/mois</p>
              <% end %>
            <% elsif @type_don == true %>
              <% if @don.recurring == false %>
                <p class="content__amount"><%= (@don.amount.to_i * 0.34).round(2) %>€</p>
              <% else %>
                <p class="content__amount"><%= (@don.amount.to_i * 0.34).round(2) %>€/mois</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="btn btn__add btn__downloadmail">Envoyer mon récapitulatif par mail</div>
    
      <% if @type_don == true %>

        <div class="form-block">
          <div class="form-block__top form-block__top--mobile form-block__top--mobile--nomargin">Utilisation de vos dons en 2016</div>
          <div class="form-block__bottom">
            <div class="actions">
              <% @rounds.each do |round| %>
                  <div class="action">
                    <div class="action__percentage"><%= round.part %>%</div>
                    <span class="action__type"><%= round.use %></span>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      
      <% end %>

    </section>

  </div>
</main>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
