<%= form_for @cache_user, url: {action: "create"}, :html => {:class => "main-form"} do |f| %>

<header class="header">
    <div class="container header__container">
      <%= image_tag("logo-new.png", class: "header__logo", alt: "Logo Vaincre l'autisme") %>
      <nav>
        <ul class="menu">

          <li class="menu__item menu__item--border">
            <a href="http://vaincrelautisme.org/sites/default/files/bulletin%202017.pdf" target="_blank">
              <%= embedded_svg "icons/download.svg", class: "icon-download" %>
              <span>Formulaire papier</span>
            </a>
          </li>

          <li class="menu__item menu__item--border">
            <a href="http://vaincrelautisme.org/" target="_blank">
              <%= embedded_svg "icons/link.svg", class: "icon-link" %>
              <span>Site principal</span>
            </a>
          </li>

      <!--<li class="menu__item">
            <a href="#">
              <%= embedded_svg "icons/login.svg", class: "icon-login" %>
              <span>Se connecter</span>
            </a>
          </li> -->

          <li class="menu__item menu__item--highlighted">
            <a href="http://vaincrelautisme.org/donate" target="_blank">
              <%= embedded_svg "icons/donate.svg", class: "icon-donate" %>
              <span>Faire un don</span>
            </a>
          </li>

        </ul>
        <div class="header__burger">
          <div class="burger"></div>
        </div>
      </nav>
    </div>
</header>

<div class="sidebar">
  <nav>
    <ul>
      <li class="sidebar__item js-scroll sidebar__item--current" data-section="#choice">1. Choix</li>
      <li class="sidebar__item js-scroll sidebar__item--disabled" data-section="#options">2. Options</li>
      <li class="sidebar__item js-scroll sidebar__item--disabled" data-section="#infos">3. Informations</li>
      <li class="sidebar__item js-scroll sidebar__item--disabled" data-section="#payment">4. Paiement</li>
      <li class="sidebar__item sidebar__item--disabled">5. Validation</li>
    </ul>
  </nav>
</div>

<main class="main__container is-subscription js-variables">

  <div class="container">

    <div class="price-table--highlighted price-table--fixed">
      <div class="row__content row__taxes">
        <p class="content__listing">Coût après réduction fiscale</p>
        <p class="content__amount"><span class="total-price--withPromo">0</span>€<span class="monthly-payment">/mois</span></p>
      </div>
    </div>

    <section class="intro">
      <div class="intro__catchline">Adhérer pour donner plus de poids à notre association !</div>
      <div class="intro__content">Adhérer à <span>Vaincre l'autisme</span>, c'est très simple et vous permet de <span>vous impliquer dans la vie de notre association à votre niveau</span>, en fonction de la formule que vous choisissez ci-dessous.</div>
    </section>

    <section class="choice js-section" id="choice">
      <% @offers.each do |offer| %>
      <div class="choice__item">
        <div class="content">
          <div class="choice__price">
            <div class="price__left">
              <p class="price"><%= offer.amount %><span>€</span></p>
              <% if offer.mensualisable == false %>
                <p class="monthly-price">mensualisation non proposée</p>
              <% else %>
                <p class="monthly-price">ou <%= (offer.amount / 12).round(2) %>€ /mois</p>
              <% end %>
            </div>
            <div class="price__right">

              <%= radio_button_tag(:formule, offer.id, false,  class: 'formule-input input-mobile', :required => true) %>
              <% if offer.mensualisable == false %>
                <%= label_tag('formule_'+offer.id.to_s, "choisir cette formule", {class: ['btn', 'btn__choose', 'no-monthly-offer'], :data => {:price => offer.amount}}) %>
              <% else %>
                <%= label_tag('formule_'+offer.id.to_s, "choisir cette formule", {class: ['btn', 'btn__choose'], :data => {:price => offer.amount}}) %>
              <% end %>

              <div class="btn btn__perks" data-perks="1">voir les avantages</div>
            </div>
          </div>
          <div class="choice__info">
            soit <span class="big white"><%= (offer.amount  * 0.34).round(2) %>€</span> après réduction fiscale
            <span class="infobox">
              <span class="infobox__text">Une <span class="white">réduction annuelle d'impôt</span> sur le revenu à hauteur de <span class="white">66%</span> de son montant</span>
              <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
            <span>
          </div>
          <div class="choice__features">
            <p class="choice__catchline">Soutenir l'association</p>
            <ul class="features">
              <% offer.advantages.each do |advantage| %>
              <li class="features__item">
                <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                <%= advantage.description %>
              </li>
              <% end %>
            </ul>
            <div>
              <%= radio_button_tag(:formule, offer.id, false,  class: 'formule-input input-desktop', :required => true) %>
              <% if offer.mensualisable == false %>
                <%= label_tag('formule_'+offer.id.to_s, "choisir cette formule", {class: ['btn', 'btn__choose', 'no-monthly-offer'], :data => {:price => offer.amount}}) %>
              <% else %>
                <%= label_tag('formule_'+offer.id.to_s, "choisir cette formule", {class: ['btn', 'btn__choose'], :data => {:price => offer.amount}}) %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <% end %>
    </section>

    <section class="options small-section animated js-section js-hidden" id="options">
      <div class="section-title no-mobile">2. Options</div>
      <div class="section-title mobile">Options</div>
      <div class="form-block">
        <div class="form-block__top no-mobile">Mensualiser mon paiement</div>
        <div class="form-block__bottom">
          <div class="form-block__container">
            <div class="special">Je veux payer mon adhésion :</div>
            <div class="custom-radio__container">
              <label for="once" class="custom-radio">
                <input type="radio" id="once" name="monthly" class="option-input once" value="false">
                <span>en une seule fois</span>
              </label>
              <label for="monthly" class="custom-radio monthly-offer">
                <input type="radio" id="monthly" name="monthly" class="option-input monthly" value="true">
                <span>mensuellement</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__top">Faire un don complémentaire</div>
        <div class="form-block__bottom">
          <div class="form-block__container">
            <div class="no-mobile">Je veux donner</div>
            <%= f.fields_for :dons, Don.new do |don| %>
              <%= don.number_field :amount, :class => "input input__donation", :id => "donation", :placeholder => "5 euros", :min => "0" %>
            <% end %>
            <div class="no-mobile">euros.</div>
            <div class="custom-radio__donate">
              <label for="donate-once" class="custom-radio">
                <input type="radio" id="donate-once" name="donate-rate" data-parsley-required="false" class="donation-options donation-once" value="false">
                <span>don ponctuel</span>
              </label>
              <label for="donate-monthly" class="custom-radio monthly-offer">
                <input type="radio" id="donate-monthly" name="donate-rate" data-parsley-required="false" class="donation-options donation-monthly" value="true">
                <span>don mensuel</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__top">Faire adhérer un membre de ma famille (1€/mois seulement)</div>
        <div class="form-block__bottom">
          <input type="hidden" name="family_members" id="family-members">
          <div class="members">
            <ul></ul>
          </div>
          <div class="form-block__container form-block__container--alignedtop">
            <div class="input-single">
              <input class="input input__family" type="text" id="family-name" placeholder="Prénom / Nom" data-parsley-required="false" data-parsley-error-message="Ce champ est invalide" data-parsley-group="family-member">
            </div>
            <div class="input-single">
              <input class="input input__family" type="mail" id="family-mail" placeholder="Adresse mail" data-parsley-required="false" data-parsley-type="email" data-parsley-error-message="Ce champ est invalide" data-parsley-group="family-member">
            </div>
            <div class="btn btn__add js-add-member">Ajouter</div>
          </div>
        </div>
      </div>
    </section>

    <section class="informations small-section animated js-section js-hidden" id="infos">
      <div class="section-title no-mobile">3. Informations</div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile">Mon rôle dans l'association</div>
        <div class="form-block__bottom form-block__bottom--mobile">
          <select name="subscriber-type" id="subscriber-type" class="info-input" data-parsley-group="block-3" required>
            <option value="" disbaled selected class="hidden-option">J'adhère en tant que</option>
            <% @roles.each do |role| %>
              <option value="<%= role.id %>"><%= role.name %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile">Informations personnelles</div>
        <div class="form-block__bottom form-block__bottom--mobile">
          <div class="input-row">
            <div class="input-single">
              <%= f.text_field :name, :class => 'input__classic info-input', :placeholder => 'Nom', 'required' => 'true', 'data-parsley-trigger' => 'focusout', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
            </div>
            <div class="input-single">
              <%= f.text_field :surname, :class => 'input__classic info-input', :placeholder => 'Prénom', 'required' => 'true', 'data-parsley-trigger' => 'focusout', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
            </div>
          </div>
          <div class="input-row">
            <%= f.text_field :phone_number, :class => 'input__classic info-input', :placeholder => 'Téléphone', 'required' => 'true', 'data-parsley-pattern' => '/0[1-7,9]\d{8}/', 'data-parsley-trigger' => 'focusout', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
          </div>
          <div class="input-row">
            <div class="input-single">
              <%= f.text_field :address, :class => 'input__classic info-input', :placeholder => 'Adresse', 'required' => 'true', 'data-parsley-trigger' => 'focusout', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
            </div>
            <div class="input-single">
              <%= f.text_field :address_extend, :class => 'input__classic', :placeholder => 'Adresse complémentaire', 'data-parsley-required' => 'false' %>
            </div>
          </div>
          <div class="input-row">
            <div class="input-single">
              <%= f.text_field :post_code, :class => 'input__classic info-input', :placeholder => 'Code Postal', 'required' => 'true', 'data-parsley-pattern' => '/^((0[1-9])|([1-8][0-9])|(9[0-8])|(2A)|(2B))[0-9]{3}$/', 'data-parsley-trigger' => 'focusout', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
            </div>
            <div class="input-single">
              <%= f.text_field :city, :class => 'input__classic info-input', :placeholder => 'Ville', 'required' => 'true', 'data-parsley-trigger' => 'focusout', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile">Espace adhérent</div>
        <div class="form-block__bottom form-block__bottom--mobile">
          <div class="input-row">
            <%= f.email_field :email, :class => 'input__classic info-input', :placeholder => 'Adresse e-mail', 'required' => 'true', 'data-parsley-trigger' => 'focusout', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
          </div>
          <div class="input-row">

            <div class="input-single">
              <%= f.password_field :password, autocomplete: "off", :class => 'input__classic info-input', :placeholder => 'Mot de passe', 'required' => 'true', 'data-parsley-trigger' => 'focusout', 'data-parsley-minlength' => '6', 'data-parsley-error-message' => 'Ce champs n\'est pas valide', 'data-parsley-group' => 'block-3' %>
            </div>
            <div class="input-single">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'input__classic info-input', :placeholder => 'Répéter mot de passe', 'required' => 'true', 'data-parsley-trigger' => 'focusout', 'data-parsley-minlength' => '6', 'data-parsley-equalto' => '#cache_user_password', 'data-parsley-error-message' => 'Les mots de passe ne correspondent pas', 'data-parsley-group' => 'block-3' %>
            </div>
            <div>
              <% if @minimum_password_length %>
              <p>(<%= @minimum_password_length %> caractères minimum)</p>
              <% end %>
            </div>

          </div>

          <label class="custom-radio custom-radio--block">
            <%= f.check_box :newsletter, class: "newsletter", id: 'newsletter' %>
            <span>S'inscrire à la newsletter</span>
          </label>
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile">Conditions générales de vente</div>
        <div class="form-block__bottom form-block__bottom--mobile">
          <label class="custom-radio custom-radio--single">
            <input type="checkbox" id="cgv" name="cgv" required data-parsley-group="block-3" data-parsley-error-message="Veuillez accepter les CGV" class="info-input">
            <span>J'accepte les <a href="#">conditions générales de ventes</a></span>
          </label>
        </div>
      </div>
    </section>

    <section class="payment small-section animated js-section js-hidden" id="payment">
      <div class="section-title no-mobile">4. Paiement</div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile form-block__top--mobile--nomargin">Récapitulatif</div>
        <div class="form-block__bottom price-table">
          <div class="row__content row__subscription">
            <p class="content__listing">Votre adhésion (<span class="adhesion-price">0</span>)</p>
            <p class="content__amount"><span class="adhesion-price">0</span>€<span class="monthly-payment">/mois</span></p>
          </div>
          <div class="row__content row__family">
            <p class="content__listing">Vos proches (<span class="family-count">0</span>)</p>
            <p class="content__amount"><span class="family-price">0</span>€<span class="monthly-payment">/mois</span></p>
          </div>
          <div class="row__content row__donation">
            <p class="content__listing">Votre don</p>
            <p class="content__amount"><span class="donation-price">0</span>€<span class="monthly-donation">/mois</span></p>
          </div>
        </div>
        <div class="price-table--grey">
          <div class="row__content row__total">
            <p class="content__listing">Total à payer</p>
            <p class="content__amount"><span class="total-price--withoutPromo">0</span>€<span class="monthly-payment">/mois</span></p>
          </div>
        </div>
        <div class="price-table--highlighted js-sticky">
          <div class="row__content row__taxes">
            <p class="content__listing">Coût après réduction fiscale</p>
            <p class="content__amount"><span class="total-price--withPromo">0</span>€<span class="monthly-payment">/mois</span></p>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile form-block__top--mobile--nomargin">Mode de paiement</div>
        <div class="form-block__bottom js-payment__info">
          <p class="payment__info">Choisissez ci-dessous un mode de paiement pour finaliser votre adhésion à l'association</p>
        </div>
        <div class="payment__options">
          <div class="payment__container">
            <div class="payment__option" data-option="card">
              <%= embedded_svg "icons/card.svg", class: "icon-card" %>
              <label for="card" class="label">
                Carte bancaire
              </label>
            </div>
            <input type="radio" id="card" name="payment_option" value="card"required>
            <div class="payment__section--mobile payment__card" data-option="card">
              <p class="phone-tip">Payez par carte</p>
              <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
            </div>
          </div>
          <div class="payment__container">
            <div class="payment__option" data-option="paypal">
              <%= embedded_svg "icons/paypal.svg", class: "icon-paypal" %>
              <label for="paypal" class="label">
                Paypal
              </label>
            </div>
            <input type="radio" id="paypal" name="payment_option" value="paypal" required>
            <div class="payment__section--mobile payment__paypal" data-option="paypal">
              <p>Vous aller être redirigé vers l'interface de paiement PayPal afin de finaliser votre paiement.</p>
              <div class="btn-container">
                <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
              </div>
            </div>
          </div>
          <div class="payment__container">
            <div class="payment__option" data-option="debit">
              <%= embedded_svg "icons/debit.svg", class: "icon-debit" %>
              <label for="debit" class="label">
                Prélèvement automatique
              </label>
            </div>
            <input type="radio" id="debit" name="payment_option" value="debit" required>
            <div class="payment__section--mobile payment__debit" data-option="debit">
              <p>Ce moyen de paiement n'est pas encore disponible.</p>

              <!-- UNCOMMENT THIS WHEN OKAY -->

              <!--<p>Vous aller être redirigé vers l'interface de paiement SlimPay afin de finaliser votre paiement.</p>
              <div class="btn-container">
                <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
              </div>-->
            </div>
          </div>
          <div class="payment__container">
            <div class="payment__option cheque" data-option="cheque">
              <%= embedded_svg "icons/cheque.svg", class: "icon-cheque" %>
              <label for="cheque" class="label">
                Paiement par chèque
              </label>
            </div>
            <input type="radio" id="cheque" name="payment_option" value="cheque" required>
            <div class="payment__section--mobile payment__cheque" data-option="cheque">
              <p class="content">Votre adhésion sera prise en compte dès réception de votre chèque et de votre récapitulatif à l'ordre de <span>VAINCRE L'AUTISME</span> et imprimé à l'adresse :</p>
              <p class="adress">
                <span>Service adhésion - Vaincre l'autisme</span>
                <span>51 rue Servan</span>
                <span>75011 Paris</span>
              </p>
              <p class="content">Pour toute question relative à votre adhésion, contactez notre service adhérent.</p>
              <div class="btn-container">
                <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
              </div>
          </div>
        </div>

        <div class="payment__section payment__card no-mobile" data-option="card">
          <p class="phone-tip">Payez par carte</p>
          <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
        </div>

        <div class="payment__section payment__paypal no-mobile" data-option="paypal">
          <p>Vous aller être redirigé vers l'interface de paiement PayPal afin de finaliser votre paiement.</p>
          <div class="btn-container">
            <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
          </div>
        </div>

        <div class="payment__section payment__debit no-mobile" data-option="debit">
          <!-- <p>Ce moyen de paiement n'est pas encore disponible.</p> -->
          <p>Vous aller être redirigé vers l'interface de paiement SlimPay afin de finaliser votre paiement.</p>
          <div class="btn-container">
            <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
          </div>
        </div>

        <div class="payment__section payment__cheque no-mobile" data-option="cheque">
          <p class="content">Votre adhésion sera prise en compte dès réception de votre chèque et de votre récapitulatif à l'ordre de <span>VAINCRE L'AUTISME</span> et imprimé à l'adresse :</p>
          <p class="adress">
            <span>Service adhésion - Vaincre l'autisme</span>
            <span>51 rue Servan</span>
            <span>75011 Paris</span>
          </p>
          <p class="content">Pour toute question relative à votre adhésion, contactez notre service adhérent.</p>
          <div class="btn-container">
            <%= f.submit 'Effectuer le paiement', :class => 'btn btn__payment' %>
          </div>
        </div>
      </div>
    </section>

  </div>

</main>

<% end %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
