<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<header class="header">
      <div class="container header__container">
        <img class="logo" src="img/logo.png" alt="Logo Vaincre l'autisme">
        <nav>
          <ul class="menu">

            <li class="menu__item">
              <a href="#">
                <%= embedded_svg "icons/download.svg", class: "icon-download" %>
                <span>Formulaire papier</span>
              </a>
            </li>

            <li class="menu__item">
              <a href="#">
                <%= embedded_svg "icons/link.svg", class: "icon-link" %>
                <span>Site principal</span>
              </a>
            </li>

            <li class="menu__item">
              <a href="#">
                <%= embedded_svg "icons/login.svg", class: "icon-login" %>
                <span>Se connecter</span>
              </a>
            </li>

            <li class="menu__item menu__item--highlighted">
              <a href="#">
                <%= embedded_svg "icons/donate.svg", class: "icon-donate" %>
                <span>Faire un don</span>
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </header>

    <div class="sidebar">
      <nav>
        <ul>
          <li class="sidebar__item sidebar__item--current">1. Choix</li>
          <li class="sidebar__item">2. Options</li>
          <li class="sidebar__item">3. Informations</li>
          <li class="sidebar__item sidebar__item">4. Paiement</li>
          <li class="sidebar__item sidebar__item--disabled">5. Validation</li>
        </ul>
      </nav>
    </div>

    <main class="main__container">

      <div class="container">

        <section class="intro">
          <div class="intro__catchline">Adhérer pour donner plus de poids à notre association !</div>
          <div class="intro__content">Adhérer à <span>Vaincre l'autisme</span>, c'est très simple et vous permet de <span>vous impliquer dans la vie de notre association à votre niveau</span>, en fonction de la formule que vous choisissez ci-dessous.</div>
        </section>

        <form action="#">
          <section class="choice">
            <div class="choice__item">
              <div class="content">
                <div class="choice__price">
                  <p class="price">40<span>€</span></p>
                  <p class="monthly-price">pas de mensualisation possible</p>
                </div>
                <div class="choice__info">
                  soit <span>13,6€</span> après réduction fiscale
                  <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
                </div>
                <div class="choice__features">
                  <p class="choice__catchline">Soutenir l'association</p>
                  <ul class="features">
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Accès à l'espace adhérent
                    </li>
                  </ul>
                  <div>
                    <input type="radio" id="formule-1" name="formule">
                    <label class="btn btn__choose" for="formule-1">choisir cette formule</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="choice__item">
              <div class="content">
                <div class="choice__price">
                  <p class="price">60<span>€</span></p>
                  <p class="monthly-price">ou 5€ /mois</p>
                </div>
                <div class="choice__info">
                  soit <span>20,4€</span> après réduction fiscale
                  <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
                </div>
                <div class="choice__features">
                  <p class="choice__catchline">Bénéficier des conseils/expertises</p>
                  <ul class="features">
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Accès à l'espace adhérent
                    </li>
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Carte de membre
                    </li>
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Accès aux documents privilégiés
                    </li>
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Espace questions/réponses
                    </li>
                  </ul>
                  <div>
                    <input type="radio" id="formule-2" name="formule">
                    <label class="btn btn__choose" for="formule-2">choisir cette formule</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="choice__item">
              <div class="content">
                <div class="choice__price">
                  <p class="price">120<span>€</span></p>
                  <p class="monthly-price">ou 10€ /mois</p>
                </div>
                <div class="choice__info">
                  soit <span>40,8€</span> après réduction fiscale
                  <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
                </div>
                <div class="choice__features">
                  <p class="choice__catchline">S'engager avec nous</p>
                  <ul class="features">
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Accès à l'espace adhérent
                    </li>
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Carte de membre
                    </li>
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Accès aux documents privilégiés
                    </li>
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Espace questions/réponses
                    </li>
                    <li class="features__item">
                      <%= embedded_svg "icons/check.svg", class: "icon-check" %>
                      Devenez membre actif
                    </li>
                  </ul>
                  <div>
                    <input type="radio" id="formule-3" name="formule">
                    <label class="btn btn__choose" for="formule-3">choisir cette formule</label>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="options small-section">
            <div class="section-title">2. Options</div>
            <div class="form-block">
              <div class="form-block__top">Mensualiser mon paiement</div>
              <div class="form-block__bottom">
                <div class="form-block__container">
                  Je veux payer mon adhésion :
                  <label for="once" class="custom-radio">
                    <input type="radio" id="once" name="subscribe-rate">
                    <span>en une seule fois</span>
                  </label>
                  <label for="monthly" class="custom-radio">
                    <input type="radio" id="monthly" name="subscribe-rate">
                    <span>mensuellement</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-block">
              <div class="form-block__top">Faire un don complémentaire</div>
              <div class="form-block__bottom">
                <div class="form-block__container">
                  Je veux donner <input class="input input__donation" type="text" id="donation" placeholder="5"> euros.
                  <div class="custom-radio__donate">
                    <label for="donate-once" class="custom-radio">
                      <input type="radio" id="donate-once" name="donate-rate">
                      <span>don ponctuel</span>
                    </label>
                    <label for="donate-monthly" class="custom-radio">
                      <input type="radio" id="donate-monthly" name="donate-rate">
                      <span>don mensuel</span>
                    </label>
                  </div>
                  <button class="btn btn__add">Ajouter</button>


                </div>
              </div>
            </div>
            <div class="form-block">
              <div class="form-block__top">Faire adhérer un membre de ma famille (1€/mois seulement)</div>
              <div class="form-block__bottom">
                <div class="form-block__container">
                  <input class="input input__family" type="text" id="family-name" placeholder="Nom / Prénom">
                  <input class="input input__family" type="mail" id="family-mail" placeholder="Adresse mail">
                  <button class="btn btn__add">Ajouter</button>
                </div>
              </div>
            </div>
          </section>

          <section class="informations small-section">
            <div class="section-title">3. Informations</div>
            <div class="form-block">
              <div class="form-block__top">Mon rôle dans l'association</div>
              <div class="form-block__bottom">
                <select name="subscriber-type" id="subscriber-type">
                  <option value="" disbaled selected class="hidden-option">J'adhère en tant que</option>
                  <option value="1">Adherent 1</option>
                  <option value="2">Adherent 2</option>
                  <option value="3">Adherent 3</option>
                </select>
              </div>
            </div>
            <div class="form-block">
              <div class="form-block__top">Informations personnelles</div>
              <div class="form-block__bottom">
                <div class="input-row">
                  <%= f.text_field :name, :class => 'input__classic', :placeholder => 'Nom' %>
                  <%= f.text_field :surname, :class => 'input__classic', :placeholder => 'Prénom' %>
                </div>
                <div class="input-row">
                  <%= f.text_field :phone_number, :class => 'input__classic', :placeholder => 'Téléphone' %>
                </div>
                <div class="input-row">
                  <%= f.text_field :address, :class => 'input__classic', :placeholder => 'Adresse' %>
                  <%= f.text_field :address_extend, :class => 'input__classic', :placeholder => 'Adresse complémentaire' %>
                </div>
                <div class="input-row">
                  <%= f.text_field :post_code, :class => 'input__classic', :placeholder => 'Code Postal' %>
                  <%= f.text_field :city, :class => 'input__classic', :placeholder => 'Ville' %>
                </div>
              </div>
            </div>
            <div class="form-block">
              <div class="form-block__top">Espace adhérent</div>
              <div class="form-block__bottom">
                <div class="input-row">
                  <%= f.email_field :email, :class => 'input__classic', :placeholder => 'Adresse e-mail' %>
                </div>
                <div class="input-row">

                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", :class => 'input__classic', :placeholder => 'Mot de passe' %>

                  <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'input__classic', :placeholder => 'Répéter mot de passe' %>

                </div>

                <label class="custom-radio custom-radio--block">
                  <input type="checkbox" id="fiscal-mail" name="fiscal-mail">
                  <span>Recevoir par mail mon reçu fiscal</span>
                </label>
                <label class="custom-radio custom-radio--block">
                  <input type="checkbox" id="newsletter" name="newsletter">
                  <span>S'inscrire à la newsletter</span>
                </label>
              </div>
            </div>
          </section>

          <section class="payment small-section">
            <div class="section-title">4. Paiement</div>
            <div class="form-block">
              <div class="form-block__top">Récapitulatif</div>
              <div class="form-block__bottom price-table">
                <div class="row__content row__subscription">
                  <p class="content__listing">Votre adhésion (120)</p>
                  <p class="content__amount">120€</p>
                </div>
                <div class="row__content row__family">
                  <p class="content__listing">Vos proches (1)</p>
                  <p class="content__amount">12€</p>
                </div>
                <div class="row__content row__donation">
                  <p class="content__listing">Votre don</p>
                  <p class="content__amount">-</p>
                </div>
                <div class="row__content row__total">
                  <p class="content__listing">Total à payer</p>
                  <p class="content__amount">140€</p>
                </div>
              </div>
              <div class="price-table--highlighted">
                <div class="row__content row__taxes">
                  <p class="content__listing">Coût après réduction fiscale</p>
                  <p class="content__amount">1€</p>
                </div>
              </div>
            </div>
            <div class="form-block">
              <div class="form-block__top">Mode de paiement</div>
              <div class="form-block__bottom js-payment__info">
                <p class="payment__info">Choisissez ci-dessous un mode de paiement pour finaliser votre adhésion à l'association</p>
              </div>
              <div class="payment__options">
                <label for="card" class="payment__option">
                  Carte bancaire
                </label>
                <input type="radio" id="card" name="payment-option">
                <label for="paypal" class="payment__option">
                  Paypal
                </label>
                <input type="radio" id="paypal" name="payment-option">
                <label for="debit" class="payment__option">
                  Prélèvement automatique
                </label>
                <input type="radio" id="debit" name="payment-option">
                <label for="cheque" class="payment__option">
                  Paiement par chèque
                </label>
                <input type="radio" id="cheque" name="payment-option">
              </div>

              <div class="payment__section payment__card">
                <div class="cards">
                  <label class="cards__input cards__input--visa">
                    VISA
                    <input type="radio" id="visa" name="card-option">
                    <span></span>
                  </label>
                  <label class="cards__input cards__input--mc">
                    MasterCard
                    <input type="radio" id="mastercard" name="card-option">
                    <span></span>
                  </label>
                  <label class="cards__input cards__input--amex">
                    American Express
                    <input type="radio" id="amex" name="card-option">
                    <span></span>
                  </label>
                  <label class="cards__input cards__input--cb">
                    CB
                    <input type="radio" id="cb" name="card-option">
                    <span></span>
                  </label>
                </div>

                <div class="input-row">
                  <input type="text" class="input__classic input__payment" name="name-card" placeholder="Nom du titulaire de la carte">
                  <input type="text" class="input__classic input__payment" name="number-card" placeholder="Numéro de la carte">
                </div>
                <div class="input-row">
                  <input type="text" class="input__classic input__payment" name="expiration" placeholder="Date d'expiration (jj/mm/aaaa)">
                  <input type="text" class="input__classic input__payment input__payment--small" name="crypto" placeholder="Cryptogramme">
                </div>
                <label class="custom-radio custom-radio--block">
                  <input type="checkbox" id="cgv" name="cgv">
                  <span>J'accepte les <a href="#">conditions générales de ventes</a></span>
                </label>
                <!-- Ici il faut surement un submit au lieu d'un lien mais dunno avec Slimpay -->
                <div class="btn-container">
                  <button class="btn btn__payment"><a href="#">Effectuer le paiement</a></button>
                </div>

              </div>

              <div class="payment__section payment__section--small payment__paypal">
                <p>Texte à définir pour expliquer que l'utilisateur sera rediriger vers PayPal etc etc lorem ipsum dolor sit amet.</p>
                <!-- Ici il faut surement un submit au lieu d'un lien mais dunno avec Slimpay -->
                <div class="btn-container">
                  <button class="btn btn__payment"><a href="https://www.paypal.com" target="_blank">Payer avec PayPal</a></button>
                </div>
              </div>

              <div class="payment__section payment__section--small payment__debit">
                <!-- Ici il faut surement un submit au lieu d'un lien mais dunno avec Slimpay -->
                <div class="input-row">
                  <input type="text" class="input__classic input__payment input__payment--big" name="iban" placeholder="Votre IBAN">
                </div>
                <div class="input-row">
                  <input type="phone" class="input__classic input__payment" name="phone" placeholder="Numéro de téléphone mobile">
                </div>
                <p class="phone-tip">Obligatoire pour recevoir le code SMS qui vous permettra de signer votre mandat</p>
                <label class="custom-radio custom-radio--block">
                  <input type="checkbox" id="cgv" name="cgv">
                  <span>J'accepte les <a href="#">conditions générales de ventes</a></span>
                </label>
                <div class="btn-container">
                  <button class="btn btn__payment"><a href="#">Effectuer le prélèvement</a></button>
                </div>
              </div>

              <div class="payment__section payment__cheque">
                <p class="content">Votre adhésion sera prise en compte dès réception de votre chèque et de votre récapitulatif à l'ordre de <span>VAINCRE L'AUTISME</span> et imprimé à l'adresse :</p>
                <p class="adress">
                  <span>Service adhésion - Vaincre l'autisme</span>
                  <span>51 rue Servan</span>
                  <span>75011 Paris</span>
                </p>
                <p class="content">Pour toute question relative à votre adhésion, contactez notre service adhérent.</p>
                <div class="btn-container">
                  <button class="btn btn__payment"><a href="#">Pré-activer mon compte</a></button>
                </div>
              </div>
            </div>
          </section>
        </form>

      </div>

    </main>

<% end %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
