<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Votre reçu fiscal</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500" rel="stylesheet">

  <style type="text/css">
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }

    body {
      line-height: 1;
    }

    ol, ul {
      list-style: none;
    }

    blockquote, q {
      quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    * {
      box-sizing: border-box;
    }

    html, body {
      font-family: 'Roboto', Helvetica, sans-serif;
    }

    .page {
      width: 210mm;
      height: 297mm;
      padding: 25px 30px 0;
      position: relative;
    }

    .logo-top {
      display: block;
      margin: 0 auto 30px;
    }

    .header {
      background-color: #4A4A4A;
      text-align: center;
      padding: 10px 0;
      color: #fff;
    }

    .header__title {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    .header__subtitle {
      font-size: 10px;
    }

    .grey-block {
      background-color: #F8F8F8;
      padding: 20px 18px;
    }

    .grey-block__row {
      margin-bottom: 14px;
      color: #303030;
      font-size: 14px;
    }

    .grey-block__title {
      font-style: italic;
    }

    .grey-block__disclaimer {
      font-style: italic;
      width: 397px;
      line-height: 1.2;
    }

    .grey-block__content--bold {
      font-weight: 500;
    }

    .grey-block__row p > span:first-child {
      margin-right: 16px;
    }

    .pink-block {
      background-color: #E41370;
      padding: 6px 18px;
    }

    .pink-block p {
      font-style: italic;
      font-size: 11px;
      color: #fff;
      width: 400px;
      line-height: 12px;
    }

    .signature {
      margin-top: 40px;
      text-align: center;
      font-size: 10px;
      color: #303030;
      font-size: 12px;
    }

    .signature .first {
      margin-bottom: 4px;
    }

    .bottom {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }

    .bottom img {
      margin-bottom: 22px;
    }

    .thanks {
      font-weight: 500;
      color: #E41370;
      font-size: 12px;
      text-align: center;
      margin-bottom: 30px;
    }

    .footer:before {
      content: '';
      display: block;
      margin: 0 auto 10px;
      width: 126px;
      height: 1px;
      background-color: #4A4A4A;
    }

    .footer {
      text-align: center;
    }

    .footer p {
      font-size: 10px;
      color: #000;
      margin-bottom: 4px;
    }

    /** BACK PAGE **/
    .title {
      text-align: center;
      font-size: 12px;
      margin: 12px 0;
      color: #000;
    }

    .action-content {
      padding: 0 20px;
    }

    .action-content p {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      text-align: justify;
    }

    .action-content p span {
      font-weight: 500;
    }
  </style>

</head>
  <body>
  <section class="page page-recto">
    <%= wicked_pdf_image_tag('logo-fiscal.png') %>
    <div class="header">
      <p class="header__title">Reçu dons aux oeuvres 2017</p>
      <p class="header__subtitle">(Article 200-5 du Code Général des Impôts)</p>
    </div>
    <div class="grey-block">
      <div class="grey-block__row">
        <p>
          <span class="grey-block__title">N° d'ordre reçu : </span>
          <span class="grey-block__content grey-block__content--bold"><%= receipt_id %></span>
        </p>
      </div>
      <div class="grey-block__row">
        <p>
          <span class="grey-block__title">Nom : </span>
          <span class="grey-block__content"><%= name %></span>
        </p>
      </div>

      <div class="grey-block__row">
        <p>
          <span class="grey-block__title">Adresse : </span>
          <span class="grey-block__content"><%= adress %></span>
        </p>
      </div>

      <div class="grey-block__row">
        <p class="grey-block__disclaimer">
          VAINCRE L'AUTISME reconnaît avoir reçu au titre des versements ouvrant droit à une réduction d'impôts, la somme de : <%= amount %> €
        </p>
      </div>

      <div class="grey-block__row">
        <p>
          <span class="grey-block__title">Mode de versement : </span>
          <span class="grey-block__content"><%= payment_method %> - Date : <%= date %></span>
        </p>
      </div>
    </div>

    <div class="pink-block">
      <p>Ce reçu fiscal vous permet de déduire de vos impôts 66% du montant de vos dons et cotisations dans la limite de 20% de votre revenu imposable</p>
    </div>

    <div class="signature">
      <%= wicked_pdf_image_tag('signature.png') %>
      <p class="first">M'Hammed SAJIDI</p>
      <p>Président</p>
    </div>

    <div class="bottom">
      <%= wicked_pdf_image_tag('image-fiscal.png') %>
      <p class="thanks">Merci pour votre soutien à VAINCRE L'AUTISME</p>
      <div class="footer">
        <p>VAINCRE L'AUTISME</p>
        <p>51 rue Servan 75011 Paris - Tel : 01.47.00.47.83 - Fax : 01.43.73.64.49</p>
        <p>www.vaincrelautisme.org - info@vaincrelautisme.orgs</p>
      </div>
    </div>

  </section>


  <section class="page page-recto">

    <%= wicked_pdf_image_tag('image-fiscal.png') %>

    <div class="header">
      <p class="header__title">Bénéficiaire des versements</p>
      <p class="header__subtitle">VAINCRE L'AUTISME</p>
    </div>

    <div class="title">Association Loi 1901 d'intérêt général à caractère éducatif, social et humanitaire.</div>

    <div class="action-content">
      <p><span>Agir</span> de manière transparente et responsable, franche et constructive pour un monde plus juste avec les personnes autistes tout en conservant son indépendance et en affirmant ses prises de positions concernant l’Autisme, les Troubles du Spectre Autistique (T.S.A.) et de Troubles Envahissants du Développement (T.E.D).</p>
      <p><span>Apporter</span> une écoute, un soutien (psychologique, pédagogique et juridique) et rompre l’isolement de l’enfant et de sa famille en détresse en France et à l’étranger.</p>
      <p><span>Refuser</span> et lutter contre tout abus de violence physique, psychique, médicamenteuse et toute forme de maltraitance à leur endroit et toute pression à leur encontre.</p>
      <p><span>Lutter</span> contre la précarité engendrée par l’autisme les Troubles du Spectre Autistique (T.S.A.) et de Troubles Envahissants du Développement (T.E.D) dans la famille.</p>
      <p><span>Combattre</span> leur exclusion, leur discrimination, leur exploitation, leur marginalisation, leur psychanalyse et leur enfermement.</p>
      <p><span>Défendre</span> leurs droits humains, sociaux et éducatifs, leur intégration sociale et la scolarisation de l’enfant par tous les moyens de droit et notamment la saisine aux fins d’injonction des juridictions compétentes.</p>
      <p><span>Donner</span> à l’enfant toutes les chances pour avancer et avoir une vie sociale, à sa famille une vie digne et sereine.</p>
      <p><span>Faire</span> respecter les droits humains en application des conventions internationales notamment la Déclaration Universelle des droits de l’Homme, la Convention internationale des droits de l’Enfant, la Convention européenne de sauvegarde des droits de l’homme et des libertés fondamentales, les législations nationale et européenne, agir et faire des propositions pour le respect de tous ces principes fondamentaux et la promotion et la défense des droits sociaux.</p>
      <p><span>Combattre</span> les dysfonctionnements administratifs, institutionnels et sociaux liés à la méconnaissance de l’autisme, les Troubles du Spectre Autistique (T.S.A.) et de Troubles Envahissants du Développement (T.E.D) et de leurs besoins spécifiques.</p>
      <p><span>Lutter</span> contre les faux et mauvais diagnostics, les fausses croyances, les prises en charge inadaptées et toutes les causes responsables de la souffrance de l’enfant et de sa famille.</p>
      <p><span>Lutter</span> contre la désinformation et contre toutes les ambiguïtés qui subsistent sur la connaissance de l’autisme, les T.S.A., les T.E.D et les besoins spécifiques y afférents.</p>
      <p><span>Lutter</span> contre l’ignorance du monde autistique et des effets des troubles autistiques.</p>
      <p><span>Promouvoir</span> une véritable connaissance scientifique sur l’autisme, les T.S.A et les T.E.D.</p>
      <p><span>Diffuser</span>, former et informer sur l’autisme, les Troubles du Spectre Autistique (T.S.A.) et les Troubles Envahissants du Développement (T.E.D). </p>
      <p><span>Créer</span> l’Institut National des Troubles Envahissants du Développement (I.N.T.E.D.) – Recherche, Prévention, Dépistage et Diagnostic.</p>
      <p><span>Développer</span> et promouvoir la Recherche sur les causes de l’autisme, des T.S.A et des T.E.D, sur les intoxications et les intolérances, sur le dysfonctionnement précoce et le développement psychologique, sur les fonctions cognitives. </p>
      <p><span>Soutenir</span> et défendre la Recherche scientifique, clinique et fondamentale, les évaluations et les études des outils éducatifs, pédagogiques et thérapeutiques pour l’autisme, les T.S.A et les T.E.D ainsi que le recensement des enfants affectés.</p>
      <p><span>Promouvoir</span> l’inclusion de l’enfant et de la personne adulte en milieu ordinaire et développer des structures innovantes de, dépistage, de diagnostic précoces et d’adultes, d’intervention précoces, de prise en charge éducative de qualité, d’insertion professionnelle, de formation et de développement de nouveaux métiers adaptés et d’enseignement supérieur,  ainsi que l’évaluation de celles-ci.</p>
      <p><span>Créer</span> en France et à l’étranger des antennes nationales, régionales et départementales.</p>
      <p><span>Soutenir</span> et défendre les associations, agir pour elles et à leur côté auprès des pouvoirs publics et des autorités locales.</p>
      <p><span>Agir</span> pour le rassemblement des associations, au niveau national, par la création de l’Union Nationale Autisme et Troubles Envahissant du Développement (U.N.A.T.E.D.).</p>
      <p><span>Promouvoir</span> l’accès à la culture, aux loisirs et aux nouvelles technologies, les Artistes et Auteurs atteints d’autisme ou agissant pour l’autisme. Créer des ateliers d’expressions artistiques et des lieux de séjours de répit et de vacances pour l’enfant et sa famille.</p>
      <p><span>Sensibiliser</span> le Grand Public, les Pouvoirs Publics, les Administrations, les Institutions Médicales, les Institutions Educatives et les Professions concernées par la petite enfance en utilisant tous les moyens de communication culturels et médiatiques qui sont offerts.</p>
    </div>

    <div class="bottom">
      <div class="footer">
        <p>VAINCRE L'AUTISME</p>
        <p>51 rue Servan 75011 Paris - Tel : 01.47.00.47.83 - Fax : 01.43.73.64.49</p>
        <p>www.vaincrelautisme.org - info@vaincrelautisme.orgs</p>
      </div>
    </div>
  </section>
</body>