<form class="main-form">

<header class="header header--donation">
    <div class="container header__container">
      <%= image_tag("logo-new.png", class: "header__logo", alt: "Logo Vaincre l'autisme") %>
      <nav>
        <ul class="menu">

          <li class="menu__item menu__item--border">
            <a href="http://vaincrelautisme.org/sites/default/files/bulletin%202017.pdf" target="_blank">
              <%= embedded_svg "icons/download.svg", class: "icon-download" %>
              <span>Formulaire papier</span>
            </a>
          </li>

          <li class="menu__item menu__item--border">
            <a href="http://vaincrelautisme.org/" target="_blank">
              <%= embedded_svg "icons/link.svg", class: "icon-link" %>
              <span>Site principal</span>
            </a>
          </li>

      <!--<li class="menu__item">
            <a href="#">
              <%= embedded_svg "icons/login.svg", class: "icon-login" %>
              <span>Se connecter</span>
            </a>
          </li> -->

          <li class="menu__item menu__item--highlighted">
            <a href="http://vaincrelautisme.org/donate" target="_blank">
              <%= embedded_svg "icons/donate.svg", class: "icon-donate" %>
              <span>Adhérer</span>
            </a>
          </li>

        </ul>
        <div class="header__burger">
          <div class="burger"></div>
        </div>
      </nav>
    </div>
</header>

<div class="sidebar sidebar--donation">
  <nav>
    <ul>
      <li class="sidebar__item js-scroll sidebar__item--current" data-section="#choice">1. Choix</li>
      <li class="sidebar__item js-scroll sidebar__item--disabled" data-section="#informations">2. Mon compte</li>
      <li class="sidebar__item js-scroll sidebar__item--disabled" data-section="#payment">3. Paiement</li>
      <li class="sidebar__item js-scroll sidebar__item--disabled">4. Validation</li>
    </ul>
  </nav>
</div>

<main class="main__container is-donation js-variables">

  <div class="container">

    <div class="price-table--highlighted price-table--fixed">
      <div class="row__content row__taxes">
        <p class="content__listing">Coût après réduction fiscale</p>
        <p class="content__amount"><span class="total-price--withPromo">0</span>€<span class="monthly-payment">/mois</span></p>
      </div>
    </div>

    <section class="intro">
      <div class="intro__catchline">Faites un don pour soutenir les actions de Vaincre l'Autisme !</div>
      <div class="intro__content">Faire un don à <span>Vaincre l'autisme</span> est très simple et vous permet de <span>participer au développement des projets de défense</span> de l'autisme.</div>
    </section>
    
    <section class="choice choice--donation js-section" id="choice">
      <div class="section-title no-mobile">1. Choix</div>
      <div class="section-title mobile">Choix</div>
      <div class="form-block">
        <div class="form-block__top no-mobile">Mensualiser mon paiement</div>
        <div class="form-block__bottom">
          <div class="form-block__container">
            <div class="special">Je veux payer mon don :</div>
            <div class="custom-radio__container">
              <label for="once" class="custom-radio">
                <input type="radio" id="once" name="monthly" class="option-input once" value="false">
                <span>en une seule fois</span>
              </label>
              <label for="monthly" class="custom-radio monthly-offer">
                <input type="radio" id="monthly" name="monthly" class="option-input monthly" value="true">
                <span>mensuellement</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="donation">
        <div class="donation__section">
          <span class="donation__title">Montant libre</span>
          <div class="donation__item">
            <div class="donation__price donation__price--free">
              <input type="text" class="donation-input" placeholder="5€">
              <p class="donation__catchline">Choisissez le montant que vous souhaitez</p>
            </div>
            <div class="choice__info">
              soit <span class="big white">13,6€</span> après réduction fiscale
              <span class="infobox">
                <span class="infobox__text">Une <span class="white">réduction annuelle d'impôt</span> sur le revenu à hauteur de <span class="white">66%</span> de son montant</span>
                <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
              <span>
            </div>
            <div class="radio-container">
              <input type="radio" name="formule" id="formule_1" class="formule-input" required="true" data-parsley-multiple="formule">
              <label for="formule_1" class="btn btn__choose btn__choose--donation" data-price="">choisir</label>
            </div>
          </div>
        </div>
        <div class="donation__section">
          <span class="donation__title">Montants paliers</span>
          <div class="donation__items">
            <div class="donation__item">
              <div class="donation__price">
                <p class="price">15<span>€</span></p>
                <p class="donation__catchline">Vous financez une journée de travail d'un spécialiste</p>
              </div>
              <div class="choice__info">
                soit <span class="big white">13,6€</span> après réduction fiscale
                <span class="infobox">
                  <span class="infobox__text">Une <span class="white">réduction annuelle d'impôt</span> sur le revenu à hauteur de <span class="white">66%</span> de son montant</span>
                  <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
                <span>
              </div>
              <div class="radio-container">
                <input type="radio" name="formule" id="formule_2" class="formule-input" required="true" data-parsley-multiple="formule">
                <label for="formule_2" class="btn btn__choose btn__choose--donation" data-price="15">choisir</label>
              </div>
            </div>

            <div class="donation__item">
              <div class="donation__price">
                <p class="price">30<span>€</span></p>
                <p class="donation__catchline">Vous financez une journée de travail d'un spécialiste</p>
              </div>
              <div class="choice__info">
                soit <span class="big white">13,6€</span> après réduction fiscale
                <span class="infobox">
                  <span class="infobox__text">Une <span class="white">réduction annuelle d'impôt</span> sur le revenu à hauteur de <span class="white">66%</span> de son montant</span>
                  <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
                <span>
              </div>
              <div class="radio-container">
                <input type="radio" name="formule" id="formule_3" class="formule-input" required="true" data-parsley-multiple="formule">
                <label for="formule_3" class="btn btn__choose btn__choose--donation" data-price="30">choisir</label>
              </div>
            </div>

            <div class="donation__item">
              <div class="donation__price">
                <p class="price">45<span>€</span></p>
                <p class="donation__catchline">Vous financez une journée de travail d'un spécialiste</p>
              </div>
              <div class="choice__info">
                soit <span class="big white">13,6€</span> après réduction fiscale
                <span class="infobox">
                  <span class="infobox__text">Une <span class="white">réduction annuelle d'impôt</span> sur le revenu à hauteur de <span class="white">66%</span> de son montant</span>
                  <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
                <span>
              </div>
              <div class="radio-container">
                <input type="radio" name="formule" id="formule_4" class="formule-input" required="true" data-parsley-multiple="formule">
                <label for="formule_4" class="btn btn__choose btn__choose--donation" data-price="45">choisir</label>
              </div>
            </div>

            <div class="donation__item">
              <div class="donation__price">
                <p class="price">60<span>€</span></p>
                <p class="donation__catchline">Vous financez une journée de travail d'un spécialiste</p>
              </div>
              <div class="choice__info">
                soit <span class="big white">13,6€</span> après réduction fiscale
                <span class="infobox">
                  <span class="infobox__text">Une <span class="white">réduction annuelle d'impôt</span> sur le revenu à hauteur de <span class="white">66%</span> de son montant</span>
                  <%= embedded_svg "icons/infobox.svg", class: "icon-infobox" %>
                <span>
              </div>
              <div class="radio-container">
                <input type="radio" name="formule" id="formule_5" class="formule-input" required="true" data-parsley-multiple="formule">
                <label for="formule_5" class="btn btn__choose btn__choose--donation" data-price="60">choisir</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="informations small-section animated js-section js-hidden" id="options">
      <div class="section-title no-mobile">2. Mon compte</div>
      <div class="section-title mobile">Mon compte</div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile">Je crée mon compte</div>
        <div class="form-block__bottom form-block__bottom--mobile">
          <div class="form-block__container form-block__container--donation">
            <div class="special">Je souhaite :</div>
            <div class="custom-radio__container">
              <label for="create" class="custom-radio">
                <input type="radio" id="create" name="create-account" class="option-input create">
                <span>créer un compte</span>
              </label>
              <label for="goto-payment" class="custom-radio">
                <input type="radio" id="goto-payment" name="create-account" class="option-input goto-payment">
                <span>passer directement à l'étape de paiement</span>
              </label>
            </div>
          </div>
          <div class="input-row">
            <input type="mail" class="input__classic info-input" placeholder="Adresse e-mail" required="true" data-parsley-trigger="focusout" data-parsley-error-message="Ce champs n\'est pas valide" data-parsley-group="block-3">
          </div>
          <div class="input-row">
            <div class="input-single">
              <input type="password" class="input__classic info-input" placeholder="Mot de passe" autocomplete="off" required="true" data-parsley-trigger="focusout" data-parsley-error-message="Les mots de passe ne correspondent pas" data-parsley-minlength="6" data-parsley-equalto="#cache_user_password" data-parsley-group="block-3">
            </div>
            <div class="input-single">
              <input type="password" class="input__classic info-input" placeholder="Répéter mot de passe" autocomplete="off" required="true" data-parsley-trigger="focusout" data-parsley-error-message="Les mots de passe ne correspondent pas" data-parsley-minlength="6" data-parsley-equalto="#cache_user_password" data-parsley-group="block-3">
            </div>
          </div>
          <div class="input-row">
            <div class="input-single">
              <input type="text" class="input__classic info-input" placeholder="Nom" required="true" data-parsley-trigger="focusout" data-parsley-error-message="Ce champs n\'est pas valide" data-parsley-group="block-3">
            </div>
            <div class="input-single">
              <input type="text" class="input__classic info-input" placeholder="Prénom" required="true" data-parsley-trigger="focusout" data-parsley-error-message="Ce champs n\'est pas valide" data-parsley-group="block-3">
            </div>
          </div>
          <div class="input-row">
            <input type="text" class="input__classic info-input" placeholder="Téléphone" required="true" data-parsley-pattern="/0[1-7,9]\d{8}/" data-parsley-trigger="focusout" data-parsley-error-message="Ce champs n\'est pas valide" data-parsley-group="block-3">
          </div>
          <div class="input-row">
            <div class="input-single">
              <input type="text" class="input__classic info-input" placeholder="Adresse" required="true" data-parsley-trigger="focusout" data-parsley-error-message="Ce champs n\'est pas valide" data-parsley-group="block-3">
            </div>
            <div class="input-single">
              <input type="text" class="input__classic info-input" placeholder="Adresse complémentaire" data-parsley-required="false">
            </div>
          </div>
          <div class="input-row">
            <div class="input-single">
              <input type="text" class="input__classic info-input" placeholder="Code Postal" required="true" data-parsley-pattern="/^((0[1-9])|([1-8][0-9])|(9[0-8])|(2A)|(2B))[0-9]{3}$/" data-parsley-trigger="focusout" data-parsley-error-message="Ce champs n\'est pas valide" data-parsley-group="block-3">
            </div>
            <div class="input-single">
              <input type="text" class="input__classic info-input" placeholder="Ville" required="true" data-parsley-trigger="focusout" data-parsley-error-message="Ce champs n\'est pas valide" data-parsley-group="block-3">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="payment small-section animated js-section js-hidden" id="payment">
      <div class="section-title no-mobile">3. Paiement</div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile form-block__top--mobile--nomargin">Récapitulatif</div>
        <div class="form-block__bottom price-table">
          <div class="row__content row__donation">
            <p class="content__listing">Votre don</p>
            <p class="content__amount"><span class="donation-price">0</span>€<span class="monthly-donation">/mois</span></p>
          </div>
        </div>
        <div class="price-table--grey">
          <div class="row__content row__total">
            <p class="content__listing">Total à payer</p>
            <p class="content__amount"><span class="total-price--withoutPromo">0</span>€<span class="monthly-payment">/mois</span></p>
          </div>
        </div>
        <div class="price-table--highlighted js-sticky">
          <div class="row__content row__taxes">
            <p class="content__listing">Coût après réduction fiscale</p>
            <p class="content__amount"><span class="total-price--withPromo">0</span>€<span class="monthly-payment">/mois</span></p>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__top form-block__top--mobile form-block__top--mobile--nomargin">Mode de paiement</div>
        <div class="form-block__bottom js-payment__info">
          <p class="payment__info">Choisissez ci-dessous un mode de paiement pour finaliser votre adhésion à l'association</p>
        </div>
        <div class="payment__options">
          <div class="payment__container">
            <div class="payment__option" data-option="card">
              <%= embedded_svg "icons/card.svg", class: "icon-card" %>
              <label for="card" class="label">
                Carte bancaire
              </label>
            </div>
            <input type="radio" id="card" name="payment_option" value="card"required>
            <div class="payment__section--mobile payment__card" data-option="card">
              <p class="phone-tip">Payez par carte</p>
              <input type="submit" class="btn btn__payment" value="Effectuer le paiement">
            </div>
          </div>
          <div class="payment__container">
            <div class="payment__option" data-option="paypal">
              <%= embedded_svg "icons/paypal.svg", class: "icon-paypal" %>
              <label for="paypal" class="label">
                Paypal
              </label>
            </div>
            <input type="radio" id="paypal" name="payment_option" value="paypal" required>
            <div class="payment__section--mobile payment__paypal" data-option="paypal">
              <p>Vous aller être redirigé vers l'interface de paiement PayPal afin de finaliser votre paiement.</p>
              <div class="btn-container">
                <input type="submit" class="btn btn__payment" value="Effectuer le paiement">
              </div>
            </div>
          </div>
          <div class="payment__container">
            <div class="payment__option" data-option="debit">
              <%= embedded_svg "icons/debit.svg", class: "icon-debit" %>
              <label for="debit" class="label">
                Prélèvement automatique
              </label>
            </div>
            <input type="radio" id="debit" name="payment_option" value="debit" required>
            <div class="payment__section--mobile payment__debit" data-option="debit">
              <p>Ce moyen de paiement n'est pas encore disponible.</p>
            </div>
          </div>
          <div class="payment__container">
            <div class="payment__option cheque" data-option="cheque">
              <%= embedded_svg "icons/cheque.svg", class: "icon-cheque" %>
              <label for="cheque" class="label">
                Paiement par chèque
              </label>
            </div>
            <input type="radio" id="cheque" name="payment_option" value="cheque" required>
            <div class="payment__section--mobile payment__cheque" data-option="cheque">
              <p class="content">Votre adhésion sera prise en compte dès réception de votre chèque et de votre récapitulatif à l'ordre de <span>VAINCRE L'AUTISME</span> et imprimé à l'adresse :</p>
              <p class="adress">
                <span>Service adhésion - Vaincre l'autisme</span>
                <span>51 rue Servan</span>
                <span>75011 Paris</span>
              </p>
              <p class="content">Pour toute question relative à votre adhésion, contactez notre service adhérent.</p>
              <div class="btn-container">
                <input type="submit" class="btn btn__payment" value="Effectuer le paiement">
              </div>
          </div>
        </div>

        <div class="payment__section payment__card no-mobile" data-option="card">
          <p class="phone-tip">Payez par carte</p>
          <input type="submit" class="btn btn__payment" value="Effectuer le paiement">
        </div>

        <div class="payment__section payment__paypal no-mobile" data-option="paypal">
          <p>Vous aller être redirigé vers l'interface de paiement PayPal afin de finaliser votre paiement.</p>
          <div class="btn-container">
            <input type="submit" class="btn btn__payment" value="Effectuer le paiement">
          </div>
        </div>

        <div class="payment__section payment__debit no-mobile" data-option="debit">
          <!-- <p>Ce moyen de paiement n'est pas encore disponible.</p> -->
          <p>Vous aller être redirigé vers l'interface de paiement SlimPay afin de finaliser votre paiement.</p>
          <div class="btn-container">
            <input type="submit" class="btn btn__payment" value="Effectuer le paiement">
          </div>
        </div>

        <div class="payment__section payment__cheque no-mobile" data-option="cheque">
          <p class="content">Votre adhésion sera prise en compte dès réception de votre chèque et de votre récapitulatif à l'ordre de <span>VAINCRE L'AUTISME</span> et imprimé à l'adresse :</p>
          <p class="adress">
            <span>Service adhésion - Vaincre l'autisme</span>
            <span>51 rue Servan</span>
            <span>75011 Paris</span>
          </p>
          <p class="content">Pour toute question relative à votre adhésion, contactez notre service adhérent.</p>
          <div class="btn-container">
            <input type="submit" class="btn btn__payment" value="Effectuer le paiement">
          </div>
        </div>
      </div>
    </section>

  </div>

</main>

</form>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>